DB_URI = mongodb+srv://kumardabluslr2002:dablu1234@cluster0.ehfhc.mongodb.net/MERN-ECOMERCE

JSON_SECRET_KEY = 'SDKLFAJHDBF3885LEFJDSKJFAWE9'
FRONTEND_URL = http://localhost:5173
REACT_APP_CLOUD_NAME_CLOUDINARY = Dablu02Cloud